<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myweb-{% block subtitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body {
            perspective: none;
            transform-style: flat;
        }
    </style>
</head>
<body>
    <div id="loginMain" style="height: 80vh;">
        {% block main %}{% endblock %}
    </div>
    <div id="loginBg"></div>
</body>
</html>

