{% extends "main_page_template.html" %}

{% block subtitle %}
Přehled
{% endblock %}


{% block main %}
<h1>Doly</h1>
<div class="mines-main-container">
       <div class="mines-content-box">
            <div class="mines-icon-container">
                <img id="doly1">
                <div class="mines-button-container">
                    <a href="{{ url_for('upgrade_building', building_type='coal') }}" class="build-button">Vylepšit</a>
                </div>
            </div>
            <div class="mines-description">
                <h1>Doly na uhlí</h1>
                <h2>Úroveň: {% print(current_city['mine_levels']['coal']) %}</h2>
                <div class="building-info" id="info-coal"></div>
                <p>
                    Tady se těží uhlí. Děti tu rády pracují. Uhlí pohání všechny budovy a stroje. 
                    Uhlí se spaluje v pecích pro tvorbu energie.
                </p>
                
            </div>
       </div>
   
        <div class="mines-content-box">
            <div class="mines-icon-container">
                <img id="doly2">
                <div class="mines-button-container">
                    <a href="{{ url_for('upgrade_building', building_type='ore') }}" class="build-button">Vylepšit</a>
                </div>
            </div>
            <div class="mines-description">
                <h1>Doly na rudu</h1>
                <h2>Úroveň: {% print(current_city['mine_levels']['ore']) %}</h2>
                <div class="building-info" id="info-ore"></div>
                <p>Tady se těží ruda. Ruda je základ každé stavby a produktu.</p>
            </div>
        </div>
   
        <div class="mines-content-box">
            <div class="mines-icon-container">
                <img id="doly3">
                <div class="mines-button-container">
                    <a href="{{ url_for('upgrade_building', building_type='energy') }}" class="build-button">Vylepšit</a>
                </div>
            </div>
            <div class="mines-description">
                <h1>Velká pec</h1>
                <h2>Úroveň: {% print(current_city['mine_levels']['energy']) %}</h2>
                <div class="building-info" id="info-energy"></div>
                <p>Tady se spaluje odpad z celého města pro tvorbu energie. Energie v podobě páry pohání většinu věcí ve městě.</p>
            </div>
        </div>
</div>


{% endblock %}

{% block extra_scripts %}
<script>
    // Každých x sekund zavolat flask abych zkontroloval jestli je building / training done
        function check_building_status() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/check_building_finish', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var data = JSON.parse(xhr.responseText);
                    for (var key in data) {
                        var time_it_is_done = data[key];
                        document.getElementById('info-'+key).innerHTML = "Building finished in: "+time_it_is_done;
                    }
                }
            };
            xhr.send();
        }
        check_building_status()
        setInterval(check_building_status, 5000);


       
</script>
{% endblock %}