<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myweb-{% block subtitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<!--   <a href=# id=test>Log out</a> <!--Button for callin py function without refresh -->

    <div id="container">
        <div id="top">
            <a href="{{ url_for('logout') }}" class="navButt">Logout</a>
            <a href="{{ url_for('main') }}" class="navButt">Main page</a>      
            <a href="{{ url_for('top_players', page_number=1) }}" class="navButt">Top hráči</a>
        </div>

        <div id="left">
      <!--       <a class="navButt" href="{{ url_for('main') }}"></a>--> 
        </div>

        <div id="mid">
                {% block main %}{% endblock %}
        </div>

        <div id="right">
     <!--        <a class="navButt" href="{{ url_for('main') }}"></a> --> 
        </div>
    
    </div>


    <div id="bg1"></div>
    <div id="bg2"></div>
   <div id="bg3"></div>

    <div class="resources-container">
        <div class="resources-background">
            <div class="resources-box">
                <img class="resources-icon" id="coal-icon">
                <div class="resources-text2" id="coal-resource-info">0</div>
            </div>
            <div class="resources-box">
                <img class="resources-icon" id="ore-icon">
                <div class="resources-text2" id="ore-resource-info">0</div>
            </div>
            <div class="resources-box">
                <img class="resources-icon" id="energy-icon">
                <div class="resources-text2" id="energy-resource-info">0</div>
            </div>
        </div>
    </div>
    
{% block extra_scripts %}
{% endblock %}
<script>
    window.addEventListener('scroll', function() {
 let scrollPosition = window.pageYOffset;
  
 // Apply parallax to bg1
 let bg1 = document.getElementById('bg1');
 bg1.style.transform = 'translateY(' + (-scrollPosition * 0.4) + 'px)';
  
 // Apply parallax to bg2
 let bg2 = document.getElementById('bg2');
 bg2.style.transform = 'translateY(' + (-scrollPosition * 0.2) + 'px)';
  
 // Apply parallax to bg3
 //let bg3 = document.getElementById('bg3');
// bg3.style.transform = 'translateY(' + (-scrollPosition * -0.1) + 'px)';
});
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });

        function update_resource_info() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/visual_resource_update', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var data = JSON.parse(xhr.responseText);
                    document.getElementById('coal-resource-info').innerHTML = data["coal"];
                    document.getElementById('ore-resource-info').innerHTML = data["ore"];
                    document.getElementById('energy-resource-info').innerHTML = data["energy"];
                }
            };
            xhr.send();
        }
        update_resource_info()
        setInterval(update_resource_info, 5000);
</script>

</body>
</html>

