{% extends "main_page_template.html" %}

{% block subtitle %}
Přehled
{% endblock %}
<!--Resource bar-->
{% block coal %}
{% print(current_city['resources']['coal']) %}
{% endblock %}
{% block ore %}
{% print(current_city['resources']['ore']) %}
{% endblock %}
{% block energy %}
{% print(current_city['resources']['energy']) %}
{% endblock %}


{% block main %}
Logged in: {% print(player_id) %}
<h1>Přehled</h1>
<h2> Pozice </h2>
Region: <br>
Průzkumnická jednotka(x): <br>
<h1> Budovy </h1>
<h2> Doly </h2>
<div class="mines-main-container">
       <div class="mines-content-box">
            <div class="mines-icon-container">
                <img>
            </div>
            <div class="mines-description">
                <h1>Doly na uhlí</h1>
                <p>
                    Tady se těží uhlí. Děti tu rády pracují. Uhlí pohání všechny budovy a stroje. 
                    Uhlí se spaluje v pecích pro tvorbu energie.
                </p>
            </div>
            <div class="mines-button-container">
                <button>+</button>
            </div>
       </div>
   
        <div class="mines-content-box">
            <div class="mines-icon-container">
                <img>
            </div>
            <div class="mines-description">
                <h1>Doly na rudu</h1>
                <p>Tady se těží ruda. Ruda je základ každé stavby a produktu.</p>
            </div>
            <div class="mines-button-container">
                <button>+</button>
            </div>
        </div>
   
        <div class="mines-content-box">
            <div class="mines-icon-container">
                <img>
            </div>
            <div class="mines-description">
                <h1>Velká pec</h1>
                <p>Tady se spaluje odpad z celého města pro tvorbu energie. Energie v podobě páry pohání většinu věcí ve městě.</p>
            </div>
            <div class="mines-button-container">
                <button>+</button>
            </div>
        </div>
</div>
<h2> Kasárny </h2>
<div class="mines-main-container">
    <div class="mines-content-box">
         <div class="mines-icon-container">
             <img>
         </div>
         <div class="mines-description">
             <h1>Posilovna</h1>
             <p>
                 Tady se těží uhlí. Děti tu rády pracují. Uhlí pohání všechny budovy a stroje. 
                 Uhlí se spaluje v pecích pro tvorbu energie.
             </p>
         </div>
         <div class="mines-button-container">
             <button>+</button>
         </div>
    </div>

     <div class="mines-content-box">
         <div class="mines-icon-container">
             <img>
         </div>
         <div class="mines-description">
             <h1>Strojírna</h1>
             <p>Tady se těží ruda. Ruda je základ každé stavby a produktu.</p>
         </div>
         <div class="mines-button-container">
             <button>+</button>
         </div>
     </div>

     <div class="mines-content-box">
         <div class="mines-icon-container">
             <img>
         </div>
         <div class="mines-description">
             <h1>Akademie</h1>
             <p>Tady se spaluje odpad z celého města pro tvorbu energie. Energie v podobě páry pohání většinu věcí ve městě.</p>
         </div>
         <div class="mines-button-container">
             <button>+</button>
         </div>
     </div>
</div>
<h1> Města </h1>

{% for city in player_cities %}
-----------------------------------------------------<br>
    Region: {{ city["position"]["region"] }}<br>
    X: {{ city["position"]["x"] }}<br>
    Coal: {{ city['resources']['coal'] }}<br>
    Ore: {{ city['resources']['ore'] }}<br>
    Energy: {{ city['resources']['energy'] }}<br>
-----------------------------------------------------<br>
{% endfor %}

{% endblock %}