<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myweb-{% block subtitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<!--   <a href=# id=test>Log out</a> <!--Button for callin py function without refresh -->
    <div id="kokotina"></div>

    <div id="container">
        <div id="top">
            <div class="navButt">
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
            <div class="navButt">
                <a href="{{ url_for('main') }}">Main page</a>
            </div>
            <div class="navButt">
                <a href="{{ url_for('cities') }}">Mapa měst</a>
            </div>
        </div>

        <div id="left">
      <!--       <a class="navButt" href="{{ url_for('main') }}"></a>--> 
        </div>

        <div id="mid">
                {% block main %}{% endblock %}
        </div>

        <div id="right">
     <!--        <a class="navButt" href="{{ url_for('main') }}"></a> --> 
        </div>
    
    </div>


    <div id="bg1"></div>
    <div id="bg2"></div>
   <div id="bg3"></div>

    <div class="resources-container">
        <div class="resources-background">
            <div class="resources-box">
                <img class="resources-icon" id="coal-icon">
                <div class="resources-text2">{% block coal %}{% endblock %}</div>
            </div>
            <div class="resources-box">
                <img class="resources-icon" id="ore-icon">
                <div class="resources-text2">{% block ore %}{% endblock %}</div>
            </div>
            <div class="resources-box">
                <img class="resources-icon" id="energy-icon">
                <div class="resources-text2">{% block energy %}{% endblock %}</div>
            </div>
        </div>
    </div>
    

<script>
    window.addEventListener('scroll', function() {
 let scrollPosition = window.pageYOffset;
  
 // Apply parallax to bg1
 let bg1 = document.getElementById('bg1');
 bg1.style.transform = 'translateY(' + (-scrollPosition * 0.4) + 'px)';
  
 // Apply parallax to bg2
 let bg2 = document.getElementById('bg2');
 bg2.style.transform = 'translateY(' + (-scrollPosition * 0.2) + 'px)';
  
 // Apply parallax to bg3
 //let bg3 = document.getElementById('bg3');
// bg3.style.transform = 'translateY(' + (-scrollPosition * -0.1) + 'px)';
});
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

</body>
</html>

